.div-principal h1{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

#seccion-instrumentos{
    height: 78dvh;
    width: 100%;
    padding: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}